<form action="/Acceuil">
  <fieldset>
    <legend>Inscription  <button class="btn btn-secondary">Retour à l'Acceuil</button></legend>
    <div class="form-group">
      <label for="exampleInputEmail1">Nom</label>
      <input type="test" class="form-control" id="examplename" aria-describedby="emailHelp" placeholder="Entrer votre nom ">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Prenom</label>
      <input type="test" class="form-control" id="exampleprenom" aria-describedby="emailHelp" placeholder="Entrer votre prenom ">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Adresse mail</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Mot de passe</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Retaper mot de passe</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="exampleSelect1">Marque Vehicule</label>
      <select class="form-select" id="exampleSelect1">
        <option>Ford</option>
        <option>Peugeot</option>
        <option>Citroen</option>
        <option>Dacia</option>
        <option>Renault</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleSelect1">Modele Vehicule</label>
      <select class="form-select" id="exampleSelect1">
        <option>1.2L</option>
        <option>Turbo</option>
        <option>Diesel</option>
        <option>Essence</option>
        <option>mardier</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>
